:root{
    --primaryfont: "League Spartan";
    --font-size: 16px;
    --table-color: #ccc;
}
.list-cart-items-wrapper{
    padding: 0;
    padding-top: 12rem;
    box-sizing: border-box;
    font-family: var(--primaryfont);
    font-size: var(--font-size);
    letter-spacing: 1px;
}

.item-cart-wrapper{
    margin: 1rem 10rem 0rem;
}

button {
    all: unset;
    cursor: pointer;
}

.item-quantity-edit{
    border: 1px solid var(--table-color);
    width: 1.5rem;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
} 
.item-quantity-edit:focus{
    border: 1px solid var(--table-color);
    outline: none;
}

.item-quantity-content {
    border: 0px solid var(--table-color);
    width: 2rem;
    text-align: center;
}
.cart-item-img{
    width: 50px;
    height: 50px;
}
.item-quantity-edit{
    /* font-weight: bold; */
}
.item-quantity-edit:hover{
    background-color: rgb(233, 232, 232);
}

.cart-total-title{
    position: relative;
    left: 50%;
    margin-top: 2rem;
    width: fit-content;
    font-size: 30px;
}
.cart-total-block{
    position: relative;
    left: 50%;
    margin-top: 2rem;
    width: 37%;
}
.cart-total-wrapper{
    left: 50%;
    display: flex;
    margin-top: 2rem;
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    align-items: center;
}
.cart-total-text{
    font-size: 2rem;
    /* font-weight: bold; */
    padding: 0.5rem 1rem;
}
.cart-total-content{
    margin-left: 4rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

.btn.btn-dark.btn-m.btn-block{
    margin: 2rem 0rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 0.6rem;
}
.btn-order-content{
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}
.btn-order-content button{
    font-size: larger;
}
.btn-order-content:hover{
    /* font-weight: bold; */
    text-decoration: none;
}
.openModalBtn{
    margin-bottom: 0px !important;
}

.btn.btn-dark.btn-m.btn-block.disabled{
    cursor: no-drop;
}
.btn.btn-dark.btn-m.btn-block.disabled:active{
    box-shadow: 0px 0px #fff;
}
.inverted-8 {
    margin-bottom: 2rem;
    text-align: center;
    /* font-weight: 600; */
    letter-spacing: 1px;
    color: #000;
    background:
      linear-gradient(-45deg, #000  40%, rgb(85, 85, 85) 0 60%, #000  0) right/300% 100% no-repeat,
      linear-gradient(-45deg, #0000 40%, rgb(109, 109, 109) 0 60%, #0000 0) right/300% 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
}
.inverted-8:hover {
    background-position: left;
    transition: 0.8s
}
.remove{
    display: none;
}
.thead-light.header th {
    color: #282828;
    font-weight: 500;
}
#flexCheckChecked{
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid #fff;
}

.list-cart-header{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0rem;
}
.logo{
    max-width: 200px;
    max-height: 50px;
    padding-right: 1rem;
    padding-top: 1rem;
}
.cart-title{
    text-align: center;
    margin: 1rem 0rem;
    font-weight: 500;
    letter-spacing: 5px;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
}
.list-cart-header-left{
    display: flex;
}
.BA-style-table{
    width: 75%;
}

.table-products{
    font-weight: 400;
    font-size: 1.8rem;
}
.item-order-infor{
    border-bottom: 1px solid #ccc;
}
.BA-style-row-list-cart-item th{
    font-size: 1.8rem;
}