* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 100% = 16 px => 62.5% = 10px */
  font-family: 'League Spartan', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'League Spartan', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

label {
  margin: 0;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
}

h2 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 700;
  margin: 0;
}

div {
  font-size: 1.6rem;
  line-height: 2rem;
}

p {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}

button {
  font-size: 1.6rem;
  font-family: 'League Spartan', sans-serif;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}



